body {
  margin: 0%;
  font-family: "Ubuntu", sans-serif;
}
.f-color {
  color: orangered;
}
.top-bg h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: rgb(72, 72, 72);
}
.top-bg {
  background-image: url(images/female/Group\ 8425.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.top-bg p {
  font-size: 22px;
  color: rgb(72, 72, 72);
}
.btn-style {
  width: 192px;
  height: 68px;
  left: 100px;
  top: 647px;
  font-size: 18px;
  color: white;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  border: none;
  border-radius: 100px;
}
.btn-style:hover {
  transition: 0.4s;
  box-shadow: 5px 5px 20px rgba(70, 35, 14, 0.5);
}
.mid-bg {
  display: flex;
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}
.mid-left {
  width: 50%;
  padding-left: 15%;
  padding-top: 5%;
}
.mid-left img {
  width: 80%;
}
.mid-right {
  width: 50%;
  padding: 10%;
}
.mid-right h1 {
  font-size: 50px;
  color: rgb(72, 72, 72);
}
.mid-right p {
  font-size: 20px;
  color: rgb(72, 72, 72);
}
.recipies {
  text-align: center;
}
.recipies h1 {
  font-size: 50px;
  color: rgb(72, 72, 72);
}
.recipies p {
  font-size: 20px;
  color: rgb(72, 72, 72);
}
.half-width {
  width: 50%;
  padding-left: 40px;
}
.half-width img {
  width: 100%;
}
.item {
  margin: 30px;
  padding: 2%;
  box-shadow: 0px 4px 30px rgba(70, 36, 14, 0.247);
  border-radius: 50px;
  color: rgb(72, 72, 72);
}
.item img {
  height: 70%;
}
.recipe-item {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  margin-bottom: 50px;
}
.item p {
  font-size: 20px;
}
.follower {
  text-align: center;
  width: 33.3%;
}
.f-shadow {
  box-shadow: 0px 4px 30px rgba(70, 36, 14, 0.247);
  border-radius: 30px;
  margin-left: 6.7%;
  margin-right: 6.7%;
  margin-bottom: 80px;
}
.f-shadow h1 {
  font-size: 50px;
  color: rgb(72, 72, 72);
}
.f-shadow p {
  font-size: 20px;
  color: rgb(72, 72, 72);
}
.foot {
  height: 250px;
  padding-top: 40px;
  background-color: #0b0d17;
  text-align: center;
}

.foot p {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.599);
  font-size: 20px;
}
#fresh {
  color: rgb(91, 91, 91);
  font-size: 40px;
}
#eat {
  font-size: 40px;
  color: orangered;
}
